[Unit]
Description=SSH agent WSL proxy

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
WorkingDirectory=/home/uroot/ssh-agent-wsl-proxy
ExecStart=/home/uroot/ssh-agent-wsl-proxy/ssh-agent-wsl-proxy

[Install]
WantedBy=default.target